<h2>Dashboard</h2>

<p><%= link_to 'View all exercises', exercises_path %></p>
<p><%= link_to 'View step counter', steps_path %></p>
<p><%= link_to 'View all meals', meals_path %></p>
<p><%= link_to 'View all weight entries', weights_path %></p>
