<div class="module">

  <div class="module-head">
    <h2>Weights Overview</h2>
  </div>
  <div class="module-body">

  <p id="notice"><%= notice %></p>

  <%= render 'listing' %>

  <%= link_to 'New Weight', weights_new_path %>
  <%= link_to 'Back to dashboard', root_path %>
  </div>
</div>
