<div class="module">
  <div class="module-head">
    <h2>Enter a new weigh-in</h2>
  </div>
  <div class="module-body">


  <%= render 'form' %>

  <%= link_to 'Back', weights_path %>
  </div>
</div>
