<h2>This is weight <%=@weight.id%>'s page</h2>

<p>
  <strong>Weight:</strong>
  <%= @weight.weight %>
</p>

<p>
  <strong>Date:</strong>
  <%= @weight.date_id %>
</p>

<%= link_to 'Back to list', weights_path %>
