<div class="module">
  <div class="module-head">
    <h2>Meals Overview</h2>
  </div>
  <div class="module-body">

  <p id="notice"><%= notice %></p>

  <%= render 'list' %>

  <%= link_to 'New Meal', new_meal_path %>

  </div>
</div>
