<div class="module-head">
  <h2>Steps Overview</h2>
</div>
<div class="module-body">


<p id="notice"><%= notice %></p>

<%= render 'listing' %>

<%= link_to 'New Step Counter', new_step_path %>


</div>
