<div class="module">
  <div class="module-head">
    <h2>Exercises Overview</h2>
  </div>
  <div class="module-body">


  <p id="notice"><%= notice %></p>

  <%= render 'list' %>

  <%= link_to 'New Exercise', new_exercise_path %>

  </div>
</div>
