<div class="module">
  <div class="module-head">
    <h2>New Exercise Entry</h2>
  </div>
  <div class="module-body">

  <%= render 'form' %>

  <%= link_to 'Back', exercises_path %>

  </div>
</div>
